<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAJ5vAmem3x1Psfpjzws1SErkn63mfbfg</string>
	<key>GCM_SENDER_ID</key>
	<string>600211021431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sendingandreceiving</string>
	<key>PROJECT_ID</key>
	<string>sendingnreceiving</string>
	<key>STORAGE_BUCKET</key>
	<string>sendingnreceiving.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600211021431:ios:dea53394d5c6cf6fdff072</string>
	<key>DATABASE_URL</key>
	<string>https://sendingnreceiving-default-rtdb.firebaseio.com</string>
</dict>
</plist>